body {
    font-family: 'Josefin Sans';
}

.bg{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:url(https://c.tenor.com/MkI8xJLf6iwAAAAC/background-aesthetic.gif) no-repeat;
    background-size:cover;
  }